@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using EXAM.DAL.Models
@model IEnumerable<Country>

<h1>Countries List</h1>
<table>
    <tr>
        <th>
            <a asp-action="GetCountries" asp-route-sortOrder="@ViewBag.IdSort">
                Id
            </a>
        </th>
        <th>
            <a asp-action="GetCountries" asp-route-sortOrder="@ViewBag.NameSort">
                Name
            </a>
        </th>
        <th>
            <a asp-action="GetCountries" asp-route-sortOrder="@ViewBag.MovieSort">
                Movie
            </a>
        </th>
    </tr>
    @foreach (var country in Model)
    {
        <tr><td>@country.Id</td><td>@country.Name</td><td>@country.Movies</td></tr>
    }
</table>